$primary : #556C96
$primary_2 : #475465
$primary_50 : rgba(85, 108, 150, 0.40)


$primary_hover_btn : blue
$font_color : black

$bleu_clair : #B6CDE8
$secondary : #ff584d
$text_color : black
$gray : #DEDDE0

$success_1 : #06A646
$success_2 : #08B54D

$danger_1 : #E90F0F
$danger_2 : #DB0F0F

$warning_1 : orange
$warning_2 : orange

$border_radius : 5px
$border : 1px solid $primary

$boxShadow : -2px 2px 7px 0px rgba(0, 0, 0, 0.25)

